body {
  padding: 0;
  margin: 0;
}

.jumbotron {
  background-color: #db350d;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

.moveimage {
  position: relative;
  top: 20px;
  }

  #wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @font-face {
    font-family: 'pricedownblack';
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}