<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Price is Fine</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">


  <!-- Adam Note: I could not get the created CSS file to link up so did CSS styling here, will want to move over.  also maybe it sucks. -->

</head>

<body>

<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid" >
    <h1 style="text-align:center;font-family:'pricedownblack';font-size:72px"><strong>The Price is <s>Right</s> Fine</strong></h1>
    <p style="text-align:center;font-size:16px">Guess a laptop price against four machine learning trained data models and see who is closest... good luck.</p>
</div>

<div class="row-fluid" width="100%">
  <div class="col-6 col-md-4">
    <img src="../images/0_BP.png"  width="100%">
  </div>
  <!-- <div class="col-6 col-md-2">
  </div> -->
  <div class="col-6 col-md-2">
    <div id='User'>
    <img class="moveimage" src="../images/1_Contestant.png"  width="90%" height="90%">
    <h3 class='contestant_' id="userDisplay" style="background-color:#FD5026"><b>User Price</b></h3>
    </div>
  </div>
  <div class="col-6 col-md-2">
    <div id='Random_Forest'>
    <img class="moveimage" src="../images/4_RF.png"  width="90%" height="90%">
    <h3 class='contestant_' id="rfDisplay" style="background-color:#6160D4"><b>RF Price</b></h3>
    </div>
  </div>
  <div class="col-6 col-md-2">
    <div id='Linear_Regression'>
    <img class="moveimage" src="../images/2_LR.png"  width="90%" height="90%">
    <h3 class='contestant_'id="lrDisplay" style="background-color:#EED14F"><b>LR Price</b></h3>
    </div>
  </div>
  <div class="col-6 col-md-2">
    <div id='Neural_Network'>
    <img class="moveimage" src="../images/3_NN.png"  width="90%" height="90%">
    <h3 class='contestant_' id="nnDisplay" style="background-color:#00C74F"><b>NN Price</b></h3>
    </div>
  </div>
</div>
</div>

  

<div class="container-fluid second_container">
<div class="row-fluid justify-content-center">
  <div class="col-lg-4">
    <table id="ufo-table" class="table table-striped">
      <thead>
        <tr>
          <th class="table-head">Laptop Attribute</th>
          <th class="table-head">Spec</th>
        </tr>
      </thead>
      <tbody id='computerSpecs'></tbody>
    </table>
  </div>
  
  
  <div class="col-lg-2" style="font-family:'pricedownblack';">
  <!-- User Selection -->
    <div id="wrapper">
      <button type="button" class="btn btn-secondary" id="new_laptop_button" style="border: 2px solid rgb(189, 189, 189);background-color: #e7e7e7; color: black;font-size:20px;">Load a New Laptop</button>
    </div>
    <aside class="filters second_container">
        <li id="centeredtext" class="filter list-group-item">
          <label for="userPrice" style="font-family:'arial';font-size:18px">Guess a Price:</label>
          <input class="form-control" id="userPriceSelector" type="number" style="font-family:'Arial'" placeholder="$">
        </li>
    </aside>
      <br>
      <div id="wrapper">
      <button type="button" class="btn btn-secondary" id='results_button' style="border: 2px solid rgb(189, 189, 189);background-color: #e7e7e7; color: black;font-size:20px;">Reveal Winner</button>
    </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div>
      <h2 id=actualRetailPrice></h2>
    </div>
  </div>
  <div class="col-lg-4">
    <div>
      <h2 id=actualRetailWinner></h2>
    </div>
  </div>
</div>
  



</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<script src="../Data/combined_results_names.js"></script>
<script src="../static/js/random_laptop.js"></script>
</html>

